# Created by .ignore support plugin (hsz.mobi)
# IntelliJ project files #
.idea
*.iml
classes
out

# Eclipse project files #
.classpath
.project
.settings

# Gradle #
target
gradlew*

# Package Files #
*.jar
*.war
*.ear